.App{
  background-color: white;
  height: 100vh;
}

.next-buttons-container{
  margin:10px;
}

.next-buttons{
  background-color:#171717 !important;
}

.next-buttons .icon{
  color:white !important;
}

.day-container{
  position: absolute;
  bottom:10px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.day-label{ 
  flex-grow: 1;
  max-width: 500px;
  background-color: #171717;
  color:white;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.a-enter-vr-button{
  display: none;
}

.sidebar-icons{
  font-size: x-large;
  justify-content:center;
  color:white !important;
}

.sidebar-text{
  font-size: x-large;
  font-family: 'PT Sans Narrow', sans-serif;
}

.menuButton{
    background: #171717 !important;
    border-radius: 10px !important;
    margin: 10px -5px !important;
    color: white !important;
}

.list{
  background-color: #171717;
}